
			<ul class="row nav nav-tabs askeecs-topic-nav">
				<li class="active"><a href="#">Recent</a></li>
				<li><a href="#">Unanswered</a></li>
				<li><a href="#">Trending</a></li>
			</ul>
			<div class="">
				<ul class="askeecs-topic-list">
					<li class="askeecs-question clearfix" ng-repeat="question in questions">
						<div class="askeecs-media askeecs-widget askeecs-widget-box">
							<div class="askeecs-upper" ng-class="{'askeecs-question-answered': question.accepted}">
								{{question.Responses.length}}
							</div>
							<div class="askeecs-lower">
								<span class="glyphicon glyphicon-ok"></span>
							</div>
						</div>
						<div class="askeecs-question-details clearfix">
							<h3><a href="#/questions/{{question.ID}}">{{question.Title}}</a></h3>
							<div class="askeecs-question-author pull-right">
								<span title="{{question.Timestamp | date:'medium'}}" am-time-ago="question.Timestamp"></span>
								<a href="#">{{question.Author}}</a>
								<span class="badge badge-">0</span>
							</div>
							<div>
								<a href="#" ng-repeat="tag in question.Tags" class="label label-info askeecs-tag">{{tag}}</a>
							</div>
						</div>
					</li>
				<ul>
			</div>
			<div class="center">
				<ul class="pagination">
          <li ng-hide="prevPage < 1">
            <a href="#/page/{{ prevPage }}">&laquo;</a>
          </li>
          <li><a href="#/page/{{ page }}">{{page}}</a></li>
          <li ng-hide="nextPage > maxPage">
            <a href="#/page/{{ nextPage }}">&raquo;</a>
          </li>
				</ul>
			</div>
